# latex 
snippet doclass "specify documentclass without any options" b
\documentclass\{${1:article}\}
endsnippet

snippet Doclass "fully specify the documentclass" b
\documentclass[${1}]\{${2:article}\}
endsnippet 
