# latex 
snippet doclass "specify documentclass without any options" b
\documentclass\{${1:article}\}
endsnippet

snippet Doclass "fully specify the documentclass" b
\documentclass[${1}]\{${2:article}\}
endsnippet


# temp snips for paper documenting
snippet micrometer "unit micro-meter" i
${1:value}\\,\\mathrm\{\\upmu m}
endsnippet

snippet reffig "ref a fig" i
Fig.~(\\ref\{fig:${1:value}}${2})
endsnippet
